#blog-section {

}

.blog-container {
    padding: 0 100px;
}

.post-header {
    background: white;
    padding: 4rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.post-header .blog-title {
    font-size: 2rem;
    color: #000;
    font-weight: 300;
    font-family: "Yu Gothic UI", sans-serif;
}

.post-header .blog-title:hover {
    color: #6773f1;
    transition: all 0.6s ease;
}

.post-header .blog-info span {
    color: rgba(0, 0, 0, 0.62);
}

.post-header .blog-info a:not(.button) {
    color: #6773f1;
}

.post-header .blog-info a.button {
    margin-top: 15px;
    border-radius: 5px;
    transform: scale(0.8);
    height: 30px;
    border-color: red;
    background: white;
    color: red;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post-header .blog-info a.button:hover {
    background: linear-gradient(90deg, orangered, darkorange);
    border: white;
    color: white;
    transition: all 0.8s ease;
}

/*noinspection CssReplaceWithShorthandSafely*/
.img-container {
    height: 60vh;
    background: url('../../imgs/beach-bird-s-eye-view-boats-1852247.jpg');
    background-size: cover;
    background-position: center;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.img-container:after {
    content: "";
    background: rgba(196, 196, 196, 0.54);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}


.post-content {
    background: white;
    padding: 4rem 4rem;
}

.post-content p {
    color: #6d7485;
}

.post-content .Article-P {
    margin: 30px 0;
}


.post-content .author {
    color: #1779ba;
    outline: none;
}


.post-content .author:focus {
    outline: none;
    border: none;
}


.post-content a:hover {
    color: #000000;
    transition: all 0.3s ease;
}

.post-content .content-divider {
    margin-top: 35px;
    margin-bottom: 35px;
    background: rgb(236, 237, 242);
}

.post-content .avatar {
    border-radius: 50%;
    width: 90px;
    height: 90px;
}

#comment-section {

}

#comment-section .comment-divider {
    width: 100%;

}

.reply-container {
    margin-top: 20px;
    margin-left: 100px;
}
.comment-section{
    margin-bottom: 16px;

}

.comment-form-section{
    margin-bottom: 0;
}

#comment-form {

}

#comment-form .comment-form-input {
    font-family: "Yu Gothic UI", sans-serif;
    outline-color: transparent;
    margin-top: 5px;
    font-size: .8rem;
    text-transform: none;
    font-weight: normal;
    letter-spacing: 0.1rem;
    color: #666;
    border-radius: .1rem;
    background-color: #fafbfc;
    border: 1px solid #ecedf2;
    box-shadow: none;
    -webkit-box-shadow: none;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#comment-form .comment-form-input:focus {
    background-color: #fff;
    border-color: #6773f1;
    box-shadow: none;
    color: #6773f1;
}

#comment-form .comment-form-submit-button {
    margin-right: 0 !important;
    margin-left: 0 !important;
    font-size: 1rem !important;
    border-radius: .3rem !important;
    background-color: #2fca74;
    border-color: #2fca74;
}


#comment-form .comment-form-submit-button:hover {
    background-color: #39d47e;
    border-color: #39d47e;
}

#comment-form .comment-form-submit-button:focus {
    box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, .3);
    transform: translateY(-1px);
    outline: none;
    outline-color: transparent;
}

#comment-form .legend {
    color: #666;
    margin-bottom: 40px;
    font-family: "Yu Gothic UI", sans-serif;
    font-weight: 300;
}

/* modal comment */
#Modal {
    border-radius: 5px;
}

#Modal h3{
    color: #666;
}

#Modal .form-input {
    font-family: "Yu Gothic UI", sans-serif;
    outline-color: transparent;
    margin-top: 5px;
    font-size: .8rem;
    text-transform: none;
    font-weight: normal;
    letter-spacing: 0.1rem;
    color: #666;
    border-radius: .1rem;
    background-color: #fafbfc;
    border: 1px solid #ecedf2;
    box-shadow: none;
    -webkit-box-shadow: none;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}


#Modal .form-input:focus{
    background-color: #fff;
    border-color: #6773f1;
    box-shadow: none;
    color: #6773f1;
}

#Modal .submit-button button {
    margin-right: 0 !important;
    margin-left: 0 !important;
    font-size: 1rem !important;
    border-radius: .3rem !important;
    background-color: #2fca74;
    border-color: #2fca74;
}

@media screen and (max-width: 638px) {
    #Modal{
        border-radius: 0;
    }
    .blog-container {
        padding: 0 0;
    }

    .post-content {
        padding: 15px;
    }

    .reply-container {
        margin: 20px 0;
        padding: 20px;
        background: #f5f7f9;
    }

    #comment-form .legend {
        margin-bottom: 10px;
        color: #666;
        text-align: center;
    }

    .post-content .avatar {
        border-radius: 50%;
        width: 40px;
        height: 40px;
    }
}