{% extends 'blog_site/base.html' %}
{% load static %}

{% block assets %}
    <link rel="stylesheet" href="{% static 'css/pages/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/pages/blog-section.css' %}">
    <link rel="stylesheet" href="{% static 'css/pages/pagination.css' %}">
    <link rel="stylesheet" href="{% static 'css/pages/UserModal.css' %}">
{% endblock %}

{% block style %}
    <style>
        #footer-container {
            border-top: 1px solid #ecedf2;
            display: none;
        }

    </style>
{% endblock %}
{% block content %}
    {% spaceless %}
        <div class="" id="header-section">
            <div class="grid-container">
                <div class="grid-margin-x grid-x">
                    <div class="cell small-12 medium-6 large-6 main-title-cell">
                        <h1 class="main-title">Featured
                            <span class="sub-title lead" style="display: block">Our Top favourite Articles </span>
                        </h1>
                    </div>
                    <div class="cell small-12 medium-6 large-6 breadcrumb-cell">
                        <nav aria-label="You are here:" role="navigation">
                            <ul class="breadcrumbs">
                                <li><a></a></li>
                                <li><a href="{% url 'articles' %}">Featured</a></li>

                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="grid-container">
                <div class="grid-margin-x grid-x" style="margin-top: 100px">
                    <div class="cell small-12 medium-6 large-6 main-title-cell">
                        <p style="color:#6d7485; ">Showing {{ articles|length }} of 46 results</p>
                    </div>
                    <div style="padding-bottom: 0;" class="cell small-12 medium-6 large-6 breadcrumb-cell">
                        <button class="dropdown button filter-button" type="button" data-toggle="example-dropdown-1">
                            Filter By
                        </button>
                        <div class="dropdown-pane filter-list" id="example-dropdown-1" data-dropdown data-hover="false"
                             data-hover-pane="true">
                            <ul class="menu vertical">
                                <li><a href="{% url 'articles' %}">Featured</a></li>
                                <li><a href="{% url 'articles-mode' filter_mode="All" %}">All</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="" id="blog-section">
            <div class="grid-container blog-container" id="grid_content">
                {% for article in articles %}
                    <div class="grid-margin-x grid-x" style="margin-bottom: 100px">
                        <div class="cell auto">
                            <div class="card" style="width:100%;">
                                <div class="card-divider post-header">
                                    <a href="{% url 'single-article' article.pk %}">
                                        <h2 class="blog-title">
                                            {{ article.main_title }}
                                        </h2>
                                    </a>
                                    <p class="blog-info">
                                        <span>{{ article.date |date:"d M, Y" }}, in </span><a
                                            href="{% url 'single-article' article.pk %}">{{ article.topic }},</a>
                                        {% for tag in article.tags.all %}
                                            <a href="#" class="button">
                                                {{ tag.name }}</a>
                                        {% endfor %}
                                    </p>
                                </div>
                                <div style="width:100%;height:100%;overflow: hidden;">
                                    <!--suppress CssUnknownTarget -->
                                    <div class="img-container"
                                         style="background-image: url('{{ article.header_image.url }}');: ">
                                    </div>
                                </div>
                                <div class="card-section post-content">
                                    <p>{{ article.get_lines }}</p>
                                    <a href="{% url 'single-article' pk=article.pk %}">Read More →</a>
                                    <hr class="content-divider">
                                    <div class="grid-x">
                                        <div class="cell small-2 avatar-cell">
                                            {% if article.author.profile_pic.url %}
                                                <img src="{{ article.author.profile_pic.url }}" alt="header_image"
                                                     class="avatar">
                                            {% else %}
                                                <img src='/media/default/default.png' alt="header_image">
                                            {% endif %}
                                        </div>
                                        <div class="cell auto">
                                            <p>by
                                                <button data-open="{{ article.author.user.pk }}_profile_modal"
                                                        class="author">{{ article.author.user.username }}</button>
                                            </p>
                                            <p>{{ article.author.job }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div id="pagination-section">
            <div class="grid-x">
                <div class="cell small-12 pagination-cell">
                    <nav aria-label="Pagination">
                        <ul class="pagination">
                            <!-- Previous Button -->
                            {% if articles.has_previous %}
                                <li class="ppb" style="margin-right: 50px"><a class="button"
                                                                              href="?page={{ articles.previous_page_number }}">
                                    <i class="fa fa-angle-left" style="color: black"></i></a></li>
                            {% else %}
                                <li class="ppb" style="margin-right: 50px"><a class="button"><i
                                        class="fa fa-angle-left" style="color: black"></i></a></li>
                            {% endif %}
                            {% for number in articles.paginator.num_pages|rjust:articles.paginator.num_pages %}
                                {% if forloop.counter ==  articles.number %}
                                    <li class="current"><span
                                            class="show-for-sr">You're on page</span>{{ forloop.counter }}</li>
                                {% else %}
                                    <li><a aria-label="Page {{ forloop.counter }}"
                                           href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
                                {% endif %}
                            {% endfor %}
                            <!-- Next Button -->
                            {% if articles.has_next %}
                                <li class="pnb"><a class="button" href="?page={{ articles.next_page_number }}"><i
                                        class="fa fa-angle-right"
                                        style="color: black"></i></a></li>
                            {% else %}
                                <li class="pnb"><a class="button"><i class="fa fa-angle-right"
                                                                     style="color: black"></i></a></li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        {% for article in articles %}
            <div class="reveal profileModal" id="{{ article.author.user.pk }}_profile_modal" data-reveal>
                <div class="modal-avatar-section">
                    <img src="{{ article.author.profile_pic.url }}" alt="">
                    <h3>{{article.author.user.username}}</h3>
                </div>
                <div class="modal-info-section">
                    <!-- Bio-->
                    <small>Bio</small>
                    <p>{{ article.author.bio }}.</p>


                    <!--Job-->
                    <small>Job</small>
                    <p>{{article.author.job}}</p>
                </div>
                <button class="close-button" data-close aria-label="Close modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}

    {% endspaceless %}
{% endblock %}
{% block javascript %}
    <script src="{% static 'js/apps/navigation-menu.js' %}"></script>
{% endblock %}
