{% extends 'blog_site/base.html' %}
{% load static %}

{% block assets %}
    <!--suppress HtmlUnknownTarget -->
    <link href="{% static 'css/header.css' %}" rel="stylesheet">
    <link href="{% static 'css/Single-blogpost-section.css' %}" rel="stylesheet">
    <link href="{% static 'css/pagination.css' %}" rel="stylesheet">
{% endblock %}
{% block style %}
    <style>
        #footer-container {
            border-top: 1px solid #ecedf2;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="" id="header-section" style="margin-bottom: 10px">
        <div class="grid-container">
            <div class="grid-margin-x grid-x">
                <div class="cell small-12 medium-6 large-6 main-title-cell">
                    <h1 class="main-title">Article room
                        <span class="sub-title lead" style="display: block">Your reading an article</span>
                    </h1>
                </div>
                <div class="cell small-12 medium-6 large-6 breadcrumb-cell">
                    <nav aria-label="You are here:" role="navigation">
                        <ul class="breadcrumbs">
                            <li><a href="{% url 'articles' %}">FEATURED</a></li>
                            <li><a href="{% url 'single-article' article.pk %}">ARTICLE</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="" id="blog-section">
        <div class="grid-container blog-container">
            <div class="grid-margin-x grid-x">
                <div class="cell auto">
                    <div class="card" style="width:100%;margin-bottom: 0;">
                        <div class="card-divider post-header">
                            <a href="">
                                <h2 class="blog-title">
                                    {{ article.main_title }}
                                </h2>
                            </a>
                            <p class="blog-info">
                                <span>{{ article.date |date:"d M, Y" }}, in </span><a href="#">{{ article.topic }},</a>
                                {% for tag in article.tags.all %}
                                <a href="#" class="button">
                                {{ tag.name }}</a>
                                {% endfor %}
                            </p>
                        </div>
                        <div style="width:100%;height:100%;overflow: hidden;">
                            <!--suppress CssUnknownTarget -->
                          <div class="img-container" style="background-image: url('{{ article.header_image.url }}');: ">    </div>
                        </div>
                        <div class="card-section post-content">
                            {% for paragraph in article.paragraph_set.all %}
                                {% if paragraph.type == "1line" %}
                                    <p class="Article-P">
                                        {{ paragraph.paragraph }}
                                    </p>
                                {% endif %}
                                {% if paragraph.type == "split" %}
                                        <div class="grid-x">
                                            <div class="cell small-12 medium-6">
                                                <p>
                                                    {{ paragraph.split1 }}
                                                </p>
                                            </div>
                                            <div class="cell small-12 medium-6">
                                                <p>
                                                    {{ paragraph.split2 }}
                                                </p>
                                            </div>
                                        </div>
                                {% endif %}
                            {% endfor %}
                            <hr class="content-divider">
                            <div class="grid-x">
                                <div class="cell small-2 avatar-cell">
                                    <img src="{{ article.author.profile_pic.url }}" alt="header_image" class="avatar">
                                </div>
                                <div class="cell auto">
                                    <p>by <a href="#">{{ article.author.user.username }}</a></p>
                                    <p>{{ article.author.job }}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card" style="width:100%;margin-top:0;margin-bottom:0;">
                        <div class="card-section post-content" id="comment_container">
                            <h3 style="font-family: 'Yu Gothic UI', sans-serif;font-weight: 300;margin-bottom: 50px;margin-top: 50px" id="comment_counter" data-count="{{ article.comment_set.count }}">
                                {{ article.comment_set.count }} Comments</h3>
                            <br>
                            {% for comment in article.comment_set.all %}
                                <div class="grid-x" id="comment_{{ comment.pk }}">
                                    <div class="cell small-2 avatar-cell">
                                        <img alt="" class="avatar" src="{{ comment.author.profile_pic.url }}">
                                    </div>
                                    <div class="cell auto">
                                        <p>
                                            <a href="#" style="color: rgb(0,0,0)">{{ comment.author.user.username }}</a>
                                        </p>
                                        <p>
                                            <small><span>{{ comment.date|date:"d M, Y" }}/ </span>
                                                <a href="{% url 'create-reply' comment_pk=comment.pk %}" class="js-reply_to_comment" data-comment="{{ comment.pk }}">Reply/</a></small>
                                            {% if comment.author.pk == profile.pk %}
                                                <small><a href="{% url 'update-comment' pk=comment.pk %}" class="js-update-comment">edit/</a> </small>
                                                <small><a href="{% url 'delete-comment' pk=comment.pk %}" class="js-delete-comment" data-comment="{{ comment.pk }}">delete/</a></small>
                                            {% endif %}
                                        </p>
                                        <p>{{ comment.text }}</p>
                                    </div>
                                </div>
                                <div class="reply-container reply-container_{{ comment.pk }}">
                                {% for reply in comment.reply_set.all %}
                                        <div class="grid-x" id="reply_{{ reply.pk }}">
                                            <div class="cell small-2 avatar-cell">
                                                <img alt="" class="avatar" src="{{ reply.author.profile_pic.url }}">
                                            </div>
                                            <div class="cell auto">
                                                <p><a href="#" style="color: rgb(0,0,0)">{{ reply.author.user.username }}</a></p>
                                                <p>
                                                  <small><span>{{ reply.date|date:"d M, Y" }}/</span></small>
                                                 {% if reply.author.pk == profile.pk %}
                                                   <small><a href="{% url 'update-reply' pk=reply.pk %}" class="js-update-reply" data-reply="{{ reply.pk }}">edit/</a></small>
                                                   <small> <a href="{% url 'delete-reply' pk=reply.pk %}" class="js-delete-reply" data-reply="{{ reply.pk }}">delete/</a></small>
                                                {% endif %}
                                                </p>
                                                <div class="reply-content">
                                                    <p>{{ reply.text }}</p>
                                                </div>
                                            </div>
                                        </div>
                                {% endfor %}
                                </div>
                                <br>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="card" style="width:100%;margin-top: 0;">
                        <div class="card-section post-content">
                            <form action="{% url 'create-comment' article_pk=article.pk %}" id="comment-form" method="post">
                                {% csrf_token %}
                                <div class="grid-x">
                                    <div class="cell">
                                        <h3 class="legend">Leave a Comment</h3>
                                    </div>
                                    <div class="cell small-12 medium-12">
                                        <textarea class="comment-form-input" cols="30" id="id_text" name="text"
                                                  placeholder="Message*" rows="10"></textarea>
                                    </div>
                                    <div class="cell small-12 medium-12">
                                        <button class="button comment-form-submit-button" type="submit" id="id_comment_submit">
                                            Post Comment
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script></script>
    <script src="{% static 'js/navigation-menu.js' %}"></script>
    <script src="{% static 'blog_site/js/Comment.js' %}"></script>
{% endblock %}
