/*start profile section*/
#profile-section {
    min-height: 90vh;
    padding: 100px 20px;
}

/* start form */
/*start avatar section*/
.avatar-section .avatar-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.avatar-section .avatar-wrapper .avatar-image {
    width: 150px;
    height: 150px;
    margin: 15px 0 10px 0;
    border-radius: 100%;
}

.avatar-section .avatar-wrapper .button {
    margin-right: 0;
    background: transparent;
    border-color: #efefef;
    color: #959faa;
    transform: scale(0.9);
    border-radius: 5px;
    padding-left: 11px;
    transition: all .8s ease;
}

.avatar-section .avatar-wrapper .button:hover {
    background: rgba(103, 115, 241, 1);
    color: #ffffff;
}
/*end avatar section*/
/* start info section */
.input-label {
    color: #767676;
    font-weight: 300;
}

.info-section .input-group{
    margin-bottom: 0;
}

.info-section .input-group .input-group-label {
    height: 39px;
    margin: 5px 0;
    bottom: 0;
    background-color: #fafbfc;
    border: 1px solid #ecedf2;
    border-radius: 0 13px 13px 0;
    font-size: 12px;
    font-weight: 300;
}

.info-section .error-text{
    color: #f11914;
}

/* end info section */
/*start bio section*/
.bio-section {
    width: 100%;
    margin: 10px 0;
    display: flex;
    justify-content: center;
}

.bio-wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

.bio-section .tabs {
    border: none;
}

.bio-section .tabs .tabs-title > a {
    color: #767676;
    font-size: 15px;
    border-bottom: 2px solid transparent;
}

.bio-section .tabs .tabs-title > a:focus, .bio-section .tabs .tabs-title > a[aria-selected=true] {
    background: transparent;
    border-bottom: 2px solid #767676;
    outline: none;
}

.bio-section .tabs-content {
    border: none;
}

.bio-section .tabs-content  #bio-tab .tabs-panel {
    padding: 20px 0;
}

.bio-section .tabs-content #bio-tab .submit-button {
    display: flex;
    justify-content: flex-end;
}

.bio-section .tabs-content  #articles-tab thead{
    background: #ffffff;
}

.bio-section .tabs-content #articles-tab tbody tr:nth-child(even) {
    background: #ffffff;
}

/* end bio section*/
/* end form */
/*end profile section*/

/* medium */
@media screen and (min-width: 920px) {
    .grid-container {
        margin-left: 100px;
        margin-right: 100px;
        max-width: none;
    }

    #profile-section{
     padding:100px;
    }

    .bio-section {
        padding: 0 0 0 150px;
    }
}
