#menu-icon {
    color: black;
    cursor: pointer;
    outline: none;
}

.nav-border {
    padding-bottom: 100px;
}

.small-bar-border {
    padding-bottom: 40px;
}

#small-bar {
    background: white;
    color: black;
    position: fixed;
    width: 100%;
    height: 80px;
    padding: 0 50px;
}

#small-bar .title-bar-left .title-bar-title {
    font-size: 23px;
}

#OffCanvas {
    background: white;
}

#off-canvas-menu {
    margin-top: 90px;
}

#off-canvas-menu li a {
    padding: 0.6rem 4rem;
    font-size: 1rem;
    line-height: 1.2;
    letter-spacing: 0;
    text-transform: none;
    font-weight: 400;
    color: #959faa;
    position: relative;
}

#off-canvas-menu li a::after {
    border: none;
}

#off-canvas-menu li a:hover {
    border-left: 4px solid dodgerblue;
    transition: all 0.4s ease;
}

@media screen and (max-width: 638px) {
    #small-bar {
        background: white;
        color: black;
        position: fixed;
        width: 100%;
        height: 80px;
        padding: 0 50px;
        z-index: 888;
    }
}