/* start profileModal */

.profileModal{
    border-radius: 10px;
    min-height: 600px;
    max-height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 440px;
}

/* start avatar section */
.profileModal .modal-avatar-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    flex-grow: 0;
    width: 100%;
}

.profileModal .modal-avatar-section img{
    width: 120px;
    border-radius: 100%;
    height: 120px;
}

.profileModal .modal-avatar-section h3{
    font-weight: 600;
}
/* end avatar section*/


/* start info section */
.profileModal .modal-info-section{
    width: 100%;
    padding: 40px;
    background: #f6f6f6;
    flex-grow: 1;
    flex-basis: 100%;
}

.profileModal .modal-info-section small{
    font-size: 80%;
    line-height: inherit;
    color: rgba(0, 0, 0, 0.5);
}

.profileModal .modal-info-section p{
    margin-bottom: 1rem;
    font-size: inherit;
    line-height: 1.6;
    text-rendering: optimizeLegibility;
    font-weight: 400;
}
/* end info section*/

/* end profileModal */

/**** medium screens ****/
@media screen and (max-width: 637px){
    .profileModal {
        height: 100%;
        width: 100%;
        border-radius: 0;
        max-width: none;
    }
}