{% extends 'blog_site/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block assets %}
    <link href="{% static 'css/pages/form-section.css' %}" rel="stylesheet">
{% endblock %}
{% block style %}
    <style>
    body{
        background: white;
    }
     .alert-success{
        background: rgba(0, 200, 81, 0.17);
    }
    </style>
{% endblock %}
{% block content %}
    <div id="form-section">
        <div class="form-container grid-container">
            <div class="grid-x grid-margin-x">
                <div class="cell small-12">
                <div class="callout alert-success" data-closable>
                    <p>confirmation successful you can nowa <a href="{% url 'login-view' %}">login</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{% static 'js/vendor/scrollreveal.min.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function(){
            let error = document.querySelectorAll('#form .error');
            error.forEach(function(value){
                value.addEventListener('input', function(){
                    this.classList.remove('error')
                })
            });
        })
    </script>
    <script src="{% static 'js/apps/login-validation.js' %}"></script>
{% endblock %}
